@charset "UTF-8";

/* verde: #545928
   creme: #F2E5BD
   marrom claro: #734A3C
   marrom escuro: #59281D
   branco:  #F2F2F2 **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

html{
    height: 390vh;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

header{
    width: 100%;
    padding: 10px 3%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 99;
}

header.rolagem{
    background-color:white;
    padding: 5px 3%;
}

header.rolagem a{
    color: black;

}

header.rolagem .logo{
    display: none;
}

header.rolagem .black{
    display: flex;
}

.logo{
    width: 200px;
    height: 130px;
}

.black{
    display: none;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0px 40px;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.icon{
    color: white;
}

.banner{
    background-image: url(../image/fazendacafé.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: right;
}

.banner h1{
    font-size: 4rem;
    color: white;
    font-weight: 500;
    margin-top: 200px;
    margin-right: 70px;
}

.fotos{
    margin-top: 40px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 440px;
    margin: auto;
}

.item{
    width: 200px;
    height: 400px;
    margin-left: 5px;    
    text-align: center;
    background: url(../image/grão.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s ;
}

.inf{
    margin-top: 320px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item h3{
    color: white;
}

.item:nth-child(2){
    background: url(../image/pó.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(3){
    background: url(../image/dripscof.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(4){
    background: url(../image/capsuls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(5){
    background: url(../image/chocolate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(6){
    background: url(../image/kittt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item:nth-child(7){
    background: url(../image/fruto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item .inf{
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

button{
    width: 100px;
    border: none;
    background-color: #c2c0b4;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;  
    color: white;  
}


.item:hover .inf{
    opacity: 1;
}

.item:hover{
    width: 350px;
    cursor: pointer;

}

button:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
}

.meio{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color: black;
}

.bloco{
    width: 340px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.meio p{
    font-size: 15px;
    text-align: center;
}

i{
    width: 80px;
    text-align: center;
}

.sobre{
    width: 220px;
}

.divisor{
    background-image: url(../image/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.history{
    margin-top: 40px;
    font-weight: 300;
    font-size: 35px;
}

.bloc2{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 60px;
}
.josé{
    color: black;
    margin-top: 30px;
    width: 600px;
    text-align: justify;
    text-indent: 50px;
    line-height: 27px;
}

.left{
    display: flex;
    flex-direction: column;
}

.fundador{
    margin-top: 40px;
    width: 400px;
    opacity: 0.9;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nos{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
}

hr{
    margin: auto;
    width: 1200px;
}

.final{
    margin-bottom: 40px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

.inst{
   text-decoration: none;
   color: black;
}

.social{
    text-align: center;
}

iframe{
    width: 300px;
    height: 90px;
}

.eu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 10px;
}

@media screen and (max-width: 768px) {

    html{
        height: 390vh;
    }
    
    .container{
        max-width: 768px;
        margin: auto;
    }
    
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    } 
    
    header{
        width: 100vw;
        padding: 10px 3%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.5s;
        z-index: 99;
    }
    
    header.rolagem{
        background-color:white;
        padding: 5px 3%;
    }
    
    header.rolagem a{
        color: black;
    
    }
    
    header.rolagem .logo{
        display: none;
    }
    
    header.rolagem .black{
        display: flex;
    }
    
    .logo{
        width: 200px;
        height: 130px;
    }
    
}